# MongoDB
MONGODB_URL=mongodb://<user>:<password>@<host>:27017
MONGODB_DATABASE=tolkien-retriever

# MinIO
MINIO_ENDPOINT_URL=http://<host>:9000
MINIO_ROOT_USER=<user>
MINIO_ROOT_PASSWORD=<password>
MINIO_BUCKET_DOCUMENTS=rulebooks

# Qdrant
QDRANT_URL=http://<host>:6333
RULEBOOK_COLLETION=rulebooks

# OpenAI
OPENAI_API_KEY=<your-openai-api-key>
EMBEDDINGS_MODEL=text-embedding-3-small

# LangSmith
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=<your-langsmith-api-key>
LANGCHAIN_PROJECT=tolkien-retriever
